body{
    max-width: 50cm;
    margin: 0 auto;
    color: blue;
    background-color:rgb(74, 119, 202) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  
}
.nav{
    text-decoration: line-through;
}